// Navigation code here

nav {
  width: 800px;
  margin: 10px auto;

  @media @phone {
    width: 100%;
  }
  h1 {
    font-size: 4rem;
    text-align: center;
    margin: 20px 0px;
  } ul {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    .listing(bold, 1.5rem);

    @media @phone {
      width: 80%;
    }
  } 
}


